@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
.prose blockquote {
  border-left: 0.25rem solid #fc8434;
  padding-left: 1rem;
  font-style: italic;
  color: #6b7280;
  margin: 1.25rem 0;
  text-align: center;
}
